{% extends 'body.html' %}
{% load static %}
{% block head %}

  <!-- Custom styles for this page -->
  <link href="{% static 'lib/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <!-- DataTale List -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
         <h6 class="m-0 font-weight-bold text-primary" style="text-transform: uppercase"><i class="fas fa-fw fa-table"></i> {{ object.get_full_name }}</h6>
      </div>
          <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="card-text"><strong>Nombre de Usuario:</strong></p>{{ object.username }}
                                </div>
                                <div class="col-md-4">
                                    <p class="card-text"><strong>Email:</strong></p>{{ object.email }}
                                </div>
                                <div class="col-md-4">
                                    <p class="card-text"><strong>Cargo:</strong></p>{{ object.cargo }}
                                </div>
                                <div class="col-md-4">
                                    <p class="card-text"><strong>N° Celular:</strong></p>{{ object.cellphone }}
                                </div>
                                <div class="col-md-4">
                                    <p class="card-text"><strong>Cedula:</strong></p>{{ object.cedula }}
                                </div>
                            </div>
                        </div>
                    </div>
          </div>
                <div class="card-footer">
                  <a href="{% url 'user:user_profile' %}" class="btn btn-primary">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text"> Editar Perfil</span>
                  </a>
                     <a href="{{ list_url }}" class="btn btn-secondary">
                        <span class="icon text-white-50">
                          <i class="fa fa-times"></i>
                        </span>
                        <span class="text">Cerrar</span>
                     </a>
                </div>

    </div>

{% endblock %}