{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'user/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th class="text-md-center" style="width:5%"></th>
    <th class="text-md-center" style="width:25%">Nombre Completo</th>
    <th class="text-md-center" style="width:10%">Username</th>
    <th class="text-md-center" style="width:20%">Cargo</th>
    <th class="text-md-center" style="width:10%">Roles</th>
    <th class="text-md-center" style="width:20%">Email</th>
    <th class="text-md-center" style="width:5%">Activo</th>
    <th class="text-md-center" style="width:5%">Acciones</th>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}


{% endblock %}
