{% extends 'body.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="justify-content-center col-lg-10">
        <form method="post" action="" enctype="multipart/form-data" class="form-group">
            <div class="card">
                <!--Título de la tabla -->
                <div class="card shadow mb-4">
                    <span class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" style="text-transform: uppercase">
                            <i class="fas fa-user"></i>
                            {{ entity }}
                        </h6>
                    </span>
                </div>
                <div class="container-fluid">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="{{ action }}">
                    <div class="alert alert-danger bg-gradient-danger text-white alert-dismissible errormsg col-lg-7"
                         style="display: none; border-radius: 5px;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Error en el Registro!</h5>
                        <div class="errors"></div>
                    </div>

                    {% if form.errors %}
                        <div class="px-3 py-3 bg-gradient-danger text-white" style="border-radius: 5px;">
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% for field in form.visible_fields %}
                        {% if forloop.first %}
                            <div class="row">
                        {% endif %}
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    </div>
                    {% if forloop.last %}
                        </div>
                    {% elif forloop.counter|divisibleby:2 %}
                        </div>
                        <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <a href="{% url 'user:user_profile' %}" class="btn btn-primary bg-gradient-primary text-white"> Editar Perfil</a>
                    <a href="{{ list_url }}" class="btn btn-danger bg-gradient-danger text-white">Cerrar</a>
                </div>
            </div>
        </form>
    </div>
    <script>
        $('form').on('submit', function(e){
            e.preventDefault();
            var parameters = new FormData(this);
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json',
                processData: false,
                contentType: false,
            }).done(function (data) {
                console.log(data);
                if (!data.hasOwnProperty('error')) {
                    location.href = '{{ list_url }}';
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {
            });
        });

    </script>
{% endblock %}