{% extends 'body.html' %}
{% load static %}
{% block head %}

  <!-- Custom styles for this page -->
  <link href="{% static 'lib/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <!-- DataTale List -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
         <h6 class="m-0 font-weight-bold text-primary" style="text-transform: uppercase"><i class="far fa-file-alt fa-lg"></i> {{ object.code }} {{ object.description }}. Versión: {{ object.version }}</h6>
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <p class="card-text"><strong>Elaborado por:</strong></p>{{ object.creator }}
            </div>
            <div class="col-md-4">
                <p class="card-text"><strong>Revisado por:</strong></p>{{ object.reviewer }}
            </div>
            <div class="col-md-4">
                <p class="card-text"><strong>Aprobado por:</strong></p>{{ object.owner }}
            </div>
        </div>
      </div>
      <div class="card-body">
          <div class="row">
            <div class="col-md-4">
                <p class="card-text"><strong>Fecha de Elaborado:</strong></p>{{ object.date_creation }}
            </div>
            <div class="col-md-4">
                <p class="card-text"><strong>Fecha de Revisado:</strong></p>{{ object.date_revised }}
            </div>
            <div class="col-md-4">
                <p class="card-text"><strong>Fecha de Aprobado:</strong></p>{{ object.date_approved }}
            </div>
          </div>
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <p class="card-text"><strong>Fecha de Vigencia:</strong></p>{{ object.date_vigencia }}
            </div>
            <div class="col-md-4">
                <p class="card-text"><strong>N° de Documento:</strong></p>{{ object.numberchange }}
            </div>
          </div>
      </div>

      <div class="card-body">
          <div class="row">
            <div class="col-md-4">
                <p class="card-text"><strong>Cambios Realizados:</strong></p>{{ object.changes }}
            </div>
            <div class="col-md-4">
                <p class="card-text"><strong>Justificación del Cambio:</strong></p>{{ object.justification }}
            </div>
          </div>
      </div>


            <div class="card-footer">
                {% if perms.erp.add_document %}
                     <a href="{{ list_url }}" class="btn btn-primary text-white" type="submit">Volver al Listado</a>
                {% elif perms.erp.change_document %}
                     <a href="{% url 'erp:docs_gest_list' %}" class="btn btn-primary text-white" type="submit">Volver al Listado</a>
                {% endif %}
                {% if not perms.erp.change_document %}
                     <a href="{% url 'erp:consultdocs_list' %}" class="btn btn-primary text-white" type="submit">Volver al Listado</a>
                {% endif %}

            </div>
        </div>




{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $(function () {
            $('#data').DataTable({
                responsive: true,
                autoWidth: false,
                language: {
                url: "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            },
            });

            $('.btnTest').on('click', function () {
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {id: 1},
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {

                });
            });
        });
    </script>
{% endblock %}




