{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'docs/js/list_created.js' %}"></script>
{% endblock %}

{% block columns %}
    <th class="text-md-center" style="width:5%">+Info</th>
    <th class="text-md-center" style="width:10%">Código</th>
    <th class="text-md-center" style="width:28%">Descripción</th>
    <th class="text-md-center" style="width:10%">Tipo</th>
    <th class="text-md-center" style="width:10%">Ver Doc</th>
    <th class="text-md-center" style="width:12%">Estado</th>
    <th class="text-md-center" style="width:20%">Observaciones</th>
    <th class="text-md-center" style="width:5%">Ajustar Enviar</th>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}


{% endblock %}
