{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'docs/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th class="text-md-center" style="width:3%"></th>
    <th class="text-md-center" style="width:11%">Código</th>
    <th class="text-md-center" style="width:26%">Descripción</th>
    <th class="text-md-center" style="width:4%">Versión</th>
    <th class="text-md-center" style="width:10%">Tipo</th>
    <th class="text-md-center" style="width:7%">Doc</th>
    <th class="text-md-center" style="width:7%">Anexos</th>
    <th class="text-md-center" style="width:7%">Estado</th>
    <th class="text-md-center" style="width:12%">Proceso</th>
    <th class="text-md-center" style="width:10%">Acciones</th>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}


{% endblock %}