{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'docs/js/listconsulta.js' %}"></script>
{% endblock %}

{% block columns %}
    <th class="text-md-center" style="width:3%">+Info</th>
    <th class="text-md-center" style="width:12%">Código</th>
    <th class="text-md-center" style="width:34%">Descripción</th>
    <th class="text-md-center" style="width:5%">Versión</th>
    <th class="text-md-center" style="width:12%">Tipo</th>
    <th class="text-md-center" style="width:8%">Ver Doc</th>
    <th class="text-md-center" style="width:7%">Estado</th>
    <th class="text-md-center" style="width:12%">Proceso</th>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}