{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'process/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th class="text-md-center" style="width:25%">Descripción</th>
    <th class="text-md-center" style="width:10%">Código</th>
    <th class="text-md-center" style="width:30%">Líder de Proceso</th>
    <th class="text-md-center" style="width:25%">Cargo</th>
    <th class="text-md-center" style="width:10%">Acciones</th>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}
