{% load static %}
{% load widget_tweaks %}

<html lang="es">
<!DOCTYPE html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Control de Cambios</title>

      <!-- Custom fonts for this template-->
      <link href="{% static 'lib/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <!-- Custom styles for this template-->
      <link href="{% static 'lib/startbootstrap-sb-admin-2/css/sb-admin-2.min.css' %}" rel="stylesheet">
      <!-- Custom styles for this page -->
      <link href="{% static 'lib/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
      <!-- My CSS -->
      <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
      <!-- Functions -->
      <script src="{% static 'js/functions.js' %}"></script>
      <!-- Suggested snippet for jQuery on their CDN page -->
      <script src="{% static 'lib/jquery/jquery.min.js' %}"></script> <!--http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js-->
      <!-- Block Head -->
      {% block head %}

      {% endblock %}

    </head>
<body id="page-top" class="bg-gradient-primary">

    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include 'sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

              <!-- Main Content -->
            <div id="content">
                {% include 'header.html' %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% if messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                                {% for message in messages %}
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    {{ message }}
                                {% endfor %}
                        </div>
                    {% endif %}

    <div class="justify-content-center col-lg-10">
        <form method="post" action="" enctype="multipart/form-data">
            <div class="card">
                <!--Título de la tabla -->
                <div class="card shadow mb-4">
                    <span class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" style="text-transform: uppercase">
                            <i class="far fa-edit"></i> Actualizacion de Documento y Control de Cambios

                        </h6>
                    </span>
                </div>

                <div class="container-fluid">
                    {% csrf_token %}

                    {% if messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                                {% for message in messages %}
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    {{ message }}
                                {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form.visible_fields %}
                        {% if forloop.first %}
                            <div class="row">
                        {% endif %}
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    </div>
                    {% if forloop.last %}
                        </div>
                    {% elif forloop.counter|divisibleby:2 %}
                        </div>
                        <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">
                        <span class="icon text-white-50">
                          <i class="fas fa-check"></i>
                        </span>
                        <span class="text"> Enviar a Revisión</span>
                      </button>
                      <a href="{% url 'erp:docs_list' %}" class="btn btn-secondary">
                          <span class="icon text-white-50">
                              <i class="fa fa-times"></i>
                          </span>
                          <span class="text"> Cancelar</span>
                      </a>
                    </div>
            </div>
        </form>
    </div>

                </div>
            </div>
            <!-- End of Main Content -->

                <!-- Footer -->
                {% include 'footer.html' %}
                <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

  <!-- Bootstrap core JavaScript-->
      <script src="{% static 'lib/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'lib/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

      <!-- Core plugin JavaScript-->
      <script src="{% static 'lib/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

      <!-- Custom scripts for all pages-->
      <script src="{% static 'lib/startbootstrap-sb-admin-2/js/sb-admin-2.min.js' %}"></script>

          <!-- Datatable -->
      <script src="{% static 'lib/startbootstrap-sb-admin-2/vendor/datatables/jquery.dataTables.min.js' %}"></script>
      <script src="{% static 'lib/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Block Javascript -->
    {% block javascript %}

    {% endblock %}

</body>
