{% extends 'register/base_register.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <div class="login-box">
    <div class="login-logo">
        <a href="{% url 'index' %}">
            <img src="{% static 'lib/startbootstrap-sb-admin-2/img/bpm_pro_sh.png' %}" alt="BPM Pro" style="max-width:60%;width:auto;height:auto">
        </a>
    </div>
    <!-- /.login-logo -->
    <div class="card" style="border-radius: 5px;">
        <div class="card-body register-card-body" style="border-radius: 5px;">
            <p class="login-box-msg">Crea tu Cuenta Gratis</p>

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                              {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

            <form action="" method="post" enctype="multipart/form-data" class="form-group">
                <input type="hidden" name="next" value="{{ next }}">
                {% csrf_token %}

                <div class="input-group mb-3">
                    {{ form.email|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese su email'}}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form.username|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese nombre de usuario'}}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form.password1|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese Contraseña' }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form.password2|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Confirme Contraseña' }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-sign-in-alt"></i>
                            CREAR CUENTA</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
{#        <div class="row-1">#}
{#            <p class="mb-3 text-md-center">#}
{#                <a href="{% url 'password_reset' %}">¡Olvidé mi Contraseña!</a>#}
{#            </p>#}
{#        </div>#}
        <!-- /.login-card-body -->
    </div>
 </div>

{% endblock %}