{% extends 'base_login.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <div class="login-box">
    <div class="login-logo">
        <a href="{% url 'index' %}">
            <img src="{% static 'lib/startbootstrap-sb-admin-2/img/bpm_pro_sh.png' %}" alt="BPM Pro" style="max-width:60%;width:auto;height:auto">
        </a>
    </div>
    <!-- /.login-logo -->
    <div class="card" style="border-radius: 5px;">
        <div class="card-body login-card-body" style="border-radius: 5px;">
            <p> Te hemos enviado un correo electronico con un enlace para reestablecer tu contraseña </p>
        </div>
    </div>
 </div>

{% endblock %}