{% extends 'base_login.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <div class="login-box">
    <div class="login-logo">
        <a href="{% url 'index' %}">
            <img src="{% static 'lib/startbootstrap-sb-admin-2/img/bpm_pro_sh.png' %}" alt="BPM Pro" style="max-width:60%;width:auto;height:auto">
        </a>
    </div>
    <!-- /.login-logo -->
    <div class="card" style="border-radius: 5px;">
        <div class="card-body login-card-body" style="border-radius: 5px;">
            <p class="login-box-msg">Recuperar Contraseña</p>
                {% if form.errors %}
                    <div class="alert alert-danger text-sm-left" role="alert">
                        <div class="container">
                            <div class="errors"></div>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                    {{ error }}
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">x</span>
                          </button>
                        </div>
                    </div>
                {% endif %}
            <form action="." method="post">
                <input type="hidden" name="next" value="{{ next }}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    {{ form.email|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese su email' }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-envelope"></i>
                            Enviar
                        </button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <div class="row-1">
            <p class="mb-3 text-md-center">
                <a href="{% url 'login' %}">¡Intentar ingresar nuevamente!</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
 </div>

{% endblock %}