{% extends 'base_login.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'lib/startbootstrap-sb-admin-2/img/bpm_pro_sh.png' %}" alt="BPM Pro" style="max-width:60%;width:auto;height:auto">
            </a>
        </div>
        <div class="card" style="border-radius: 5px;">
            <div class="card-body login-card-body" style="border-radius: 5px;">
                <p> Su contraseña se ha reestablecido correctamente </p>
            </div>

            <div class="row-1">
                <p class="mb-3 text-md-center">
                    <a href="{% url 'login' %}">Iniciar sesión</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}