{% extends 'home.html' %}
{% load static %}

{% block body %}
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include 'sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

              <!-- Main Content -->
            <div id="content">
                {% include 'header.html' %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                              {{ message }}
                               <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            </div>
                        {% endfor %}
                    {% endif %}

                {% block barra_busqueda %}

                {% endblock barra_busqueda %}

                    {% block content %}

                    {% endblock %}
                </div>
            </div>
            <!-- End of Main Content -->
            </div>
                <!-- Footer -->
                {% include 'footer.html' %}
                <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

  <!-- Bootstrap core JavaScript-->
      <script src="{% static 'lib/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'lib/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

      <!-- Core plugin JavaScript-->
      <script src="{% static 'lib/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

      <!-- Custom scripts for all pages-->
      <script src="{% static 'lib/startbootstrap-sb-admin-2/js/sb-admin-2.min.js' %}"></script>

          <!-- Datatable Startbootstrap -->
      <script src="{% static 'lib/startbootstrap-sb-admin-2/vendor/datatables/jquery.dataTables.min.js' %}"></script>
      <script src="{% static 'lib/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

      <!-- Page level custom scripts -->
      <script src="{% static 'lib/startbootstrap-sb-admin-2/js/demo/datatables-demo.js' %}"></script>

    <!-- Block Javascript -->
    {% block javascript %}

    {% endblock %}
</body>
{% endblock %}

