{% extends 'body.html' %}

{% block content %}
    <form method="post" action="">
        <div class="card">
            <div class="card shadow mb-4">
                <span class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" style="text-transform: uppercase">
                        <i class="far fa-trash-alt"></i> {{ tittle }}
                    </h6>
                </span>
            </div>
            <div class="card-content">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
                <div class="alert alert-danger alert-dismissible errormsg" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-ban"></i> Error en el Registro!</h5>
                    <div class="errors"></div>
                </div>
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="col-md-7">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                          <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                              <div class="text-xs font-weight-bold text-gray-600 mb-1">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                  <h5 class="text-uppercase"><i class="icon fas fa-exclamation-triangle"></i> <b>Advertencia!</b></h5>
                                  <h5>¿Está seguro de eliminar el {{ entity_delete }} "{{ object }}"?</h5>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-danger bg-gradient-danger text-white">Si, Aceptar</button>
                <a href="{{ list_url }}" class="btn btn-primary bg-gradient-primary text-white">Cancelar</a>
            </div>
        </div>
    </form>
    <script>
        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = $(this).serializeArray();
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
                if (!data.hasOwnProperty('error')) {
                    location.href = '{{ list_url }}';
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {
            });
        });
    </script>

{% endblock %}