<div>
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Derechos Reservados&copy; BPMPro v1.0.0 2020. Un producto de CielTechno SAS</span>
        </div>
    </div>
</footer>

