{% extends 'body.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="justify-content-center col-lg-12">
        <form method="post" action="" enctype="multipart/form-data" class="form-group">
            <div class="card">
                <!--Título de la tabla -->
                <div class="card shadow mb-4">
                    <span class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" style="text-transform: uppercase">
                            {% if action == 'add' %}
                                <i class="far fa-plus-square"></i>
                            {% else %}
                                <i class="far fa-edit"></i>
                            {% endif %}
                            {{ entity }}
                        </h6>
                    </span>
                </div>
                <div class="container-fluid">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="{{ action }}">
                        {% if messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                    {% for message in messages %}
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        {{ message }}
                                    {% endfor %}
                            </div>
                        {% endif %}
                    {% for field in form.visible_fields %}
                        {% if forloop.first %}
                            <div class="row">
                        {% endif %}
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="email">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    </div>
                        {% if forloop.last %}
                            </div>
                        {% elif forloop.counter|divisibleby:3 %}
                            </div>
                            <div class="row">
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="card-footer">

                    {% if entity == 'Nuevo Documento' or entity == 'Documento en Elaboración'%}
                  <button type="submit" class="btn btn-primary">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text"> Enviar a Revisión</span>
                  </button>
                    <a href="{{ list_url }}" class="btn btn-secondary">
                    <span class="icon text-white-50">
                        <i class="fa fa-times"></i>
                    </span>
                        <span class="text"> Cancelar</span>
                    </a>
                {% elif entity == 'Aprobación de Documento (Revisión)' %}
                  <button type="submit" class="btn btn-primary">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text"> Enviar a Aprobación</span>
                  </button>
                     <a href="{{ list_url }}" class="btn btn-secondary">
                        <span class="icon text-white-50">
                          <i class="fa fa-times"></i>
                        </span>
                        <span class="text">Cancelar</span>
                     </a>
                {% elif entity == 'Aprobación de Documento' %}
                  <div class="my-2"></div>
                  <button type="submit" class="btn btn-primary bg-gradient-primary">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text"> Aprobado</span>
                  </button>
                     <a href="{{ list_url }}" class="btn btn-secondary">
                        <span class="icon text-white-50">
                          <i class="fa fa-times"></i>
                        </span>
                        <span class="text">Cancelar</span>
                     </a>
                {% elif entity == 'Devolver Documento' %}
                  <div class="my-2"></div>
                  <button type="submit" class="btn btn-primary bg-gradient-primary">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text"> Devolver Documento</span>
                  </button>
                     <a href="{{ list_url }}" class="btn btn-secondary">
                        <span class="icon text-white-50">
                          <i class="fa fa-times"></i>
                        </span>
                        <span class="text">Cancelar</span>
                     </a>
                {% else %}
                  <div class="my-2"></div>
                  <button type="submit" class="btn btn-primary">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text"> Guardar</span>
                  </button>
                     <a href="{{ list_url }}" class="btn btn-secondary">
                        <span class="icon text-white-50">
                          <i class="fa fa-times"></i>
                        </span>
                        <span class="text">Cancelar</span>
                     </a>
                {% endif %}

                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $('form').on('submit', function(e){
            e.preventDefault();
            var parameters = new FormData(this);
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json',
                processData: false,
                contentType: false,
            }).done(function (data) {
                console.log(data);
                if (!data.hasOwnProperty('error')) {
                    location.href = '{{ list_url }}';
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {
            });
        });
    </script>
{% endblock %}