{% load static  %}

      <!-- Main Content -->
<div id="content" xmlns="http://www.w3.org/1999/html">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Informacion Compañia - Cliente -->
            <div class="input-group">
              <a href="">
                  <img src="{% static 'img/logo_hb.jpg' %}" alt="" style="max-width:40%;width:auto;height:auto">
              </a>
            </div>

            <div class="col-sm-4">
                <h5 class="m-0 text-dark" style="text-align: right"><small>{{ request.user.get_full_name }}</small></h5>
            </div>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>


            </li>

            <!-- Central Alertas -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Contador total Alertas -->
                  {% if count_total > 0 %}
                      <span class="badge badge-danger badge-counter">{{ count_total }}</span>
                  {% endif %}
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    Centro de Alertas
                </h6>
                {% if user.is_authenticated %}
                  {% if perms.erp.change_document %}
                       {% if count_aprobar > 0 %}
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'erp:docs_aprove_list' %}">
                                <div class="mr-3">
                                <div class="icon-circle bg-primary">
                                  <i class="fas fa-file-alt text-white"></i>
                                </div>
                              </div>
                              <div>
                                <span class="font-weight-bold">Documentos por Aprobar</span>
                                <span class="badge badge-danger badge-counter">{{ count_aprobar }}</span>
                              </div>
                            </a>
                       {% endif %}
                       {% if count_revisar > 0 %}
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'erp:docs_review_list' %}">
                              <div class="mr-3">
                                <div class="icon-circle bg-success">
                                  <i class="fas fa-file-alt text-white"></i>
                                </div>
                              </div>
                              <div>
                                <span class="font-weight-bold">Documentos por Revisar</span>
                                <span class="badge badge-danger badge-counter">{{ count_revisar }}</span>
                              </div>
                            </a>
                        {% endif %}
                       {% if count_elaboracion > 0 %}
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'erp:docs_created_list' %}">
                              <div class="mr-3">
                                <div class="icon-circle bg-warning">
                                  <i class="fas fa-file-alt text-white"></i>
                                </div>
                              </div>
                              <div>
                                <span class="font-weight-bold">Documentos en Elaboración</span>
                                <span class="badge badge-danger badge-counter">{{ count_elaboracion }}</span>
                              </div>
                            </a>
                        {% endif %}
                       {% if count_vencido > 0 %}
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'erp:docs_gest_list' %}">
                              <div class="mr-3">
                                <div class="icon-circle bg-danger">
                                  <i class="fas fa-exclamation-triangle text-white"></i>
                                </div>
                              </div>
                              <div>
                                <span class="font-weight-bold">Documentos Vencidos</span>
                                <span class="badge badge-danger badge-counter">{{ count_vencido }}</span>
                              </div>
                            </a>
                        {% endif %}
                       {% if count_por_vencer > 0 %}
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'erp:docs_gest_list' %}">
                              <div class="mr-3">
                                <div class="icon-circle bg-warning">
                                  <i class="fas fa-exclamation-triangle text-white"></i>
                                </div>
                              </div>
                              <div>
                                <span class="font-weight-bold">Documentos a Vencer</span>
                                <span class="badge badge-danger badge-counter">{{ count_por_vencer }}</span>
                              </div>
                            </a>
                        {% endif %}
                  {% endif %}
                {% endif %}
              </div>
            </li>


            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user.username }}</span>
                <img class="img-profile rounded-circle" alt="perfil" src="{% static 'lib/startbootstrap-sb-admin-2/img/user-02.svg' %}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'user:user_profile_ver' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Mi Perfil
                </a>
                <a class="dropdown-item" href="{% url 'user:change_password' %}">
                  <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cambiar Contraseña
                </a>
                <a class="dropdown-item">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Tipo de Usuario:
                    {% for g in request.user.groups.all %}
                        {{ g.name }}
                    {% endfor %}
                </a>
                <a class="dropdown-item">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Ultimo acceso: {{ request.user.last_login }}
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  <b>CERRAR SESIÓN</b>
                </a>
              </div>
            </li>

          </ul>

        </nav>
