{% load static %}
<html lang="es">
<!DOCTYPE html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <link rel="icon" type="image/png" href="{% static 'lib/startbootstrap-sb-admin-2/img/favicon.png' %}" sizes="16x16">
      <link rel="icon" type="image/png" href="{% static 'lib/startbootstrap-sb-admin-2/img/favicon.png' %}" sizes="32x32">
      <link rel="icon" type="image/png" href="{% static 'lib/startbootstrap-sb-admin-2/img/favicon.png' %}" sizes="64x64">

      <title>{{ tittle }}</title>

      <!-- Custom fonts for this template-->
      <link href="{% static 'lib/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <!-- Custom styles for this template-->
      <link href="{% static 'lib/startbootstrap-sb-admin-2/css/sb-admin-2.min.css' %}" rel="stylesheet">
      <!-- Custom styles for this page -->
      <link href="{% static 'lib/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
      <!-- My CSS -->
      <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
      <!-- Functions -->
      <script src="{% static 'js/functions.js' %}"></script>
      <!-- Suggested snippet for jQuery on their CDN page -->
      <script src="{% static 'lib/jquery/jquery.min.js' %}"></script> <!--http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js-->
      <!-- Block Head -->
      {% block head %}

      {% endblock %}

    </head>
<body id="page-top" class="bg-gradient-primary">

      {% block body %}

      {% endblock %}

</body>

</html>
