{% extends 'home.html' %}
{% load static %}

{% block body %}

    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include 'sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

              <!-- Main Content -->
            <div id="content">
                {% include 'header.html' %}

            <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% block content %}
                        {% if messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                    {% for message in messages %}
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        {{ message }}
                                    {% endfor %}
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
            <!-- Footer -->
            {% include 'footer.html' %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'lib/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'lib/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'lib/startbootstrap-sb-admin-2/js/sb-admin-2.min.js' %}"></script>

    <!-- Block Javascript -->
    {% block javascript %}

    {% endblock %}

{% endblock %}

