{% extends 'body.html' %}
{% load static %}
{% block head %}
   <!-- Datatable Startbootstrap -->
    <link href="{% static 'lib/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css' %}"
          rel="stylesheet" xmlns="http://www.w3.org/1999/html">

  {% block head_list %}

  {% endblock %}

{% endblock %}

{% block content %}
    <!-- DataTale List -->
    <div class="card shadow mb-4">
       <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
         <h6 class="m-0 font-weight-bold text-primary" style="text-transform: uppercase"><i class="fas fa-fw fa-table"></i> {{ entity }}</h6>

           <div class="dropdown no-arrow">

                  {% if perms.erp.add_document %}

                       {% if entity == 'Maestro de Documentos' or entity == 'Tipos de Documento' or entity == 'Procesos' or entity == 'Usuarios' %}
                          <a href="{{ create_url }}" class="btn btn-primary"><span class="icon text-white-50">
                              <i class="fas fa-plus"></i></span>
                            <span class="text">Crear Nuevo</span>
                          </a>
                       {% endif %}
                       {% if entity == 'Maestro de Documentos' %}
                           <a href="{% url 'erp:list_master_docs' %}" class="btn btn-secondary"><span class="icon text-white-50">
                              <i class="fas fa-download fa-sm"></i></span>
                            <span class="text">Descargar Listado</span>
                          </a>
                       {% endif %}

                   {% endif %}
           </div>
           </div>
              <div class="card-body">
                    <div class="table-responsive">
                          <table class="table table-bordered" id="data" width="100%" cellspacing="0" style='font-size: 14px' >
                                <thead class="text-dark">
                                {% block columns %}

                                {% endblock %}
                                </thead>
                                <tbody class="text-lg-center">
                                {% block rows %}

                                {% endblock %}
                                </tbody>
                          </table>
                    </div>
              </div>
            </div>
        <div>
    </div>
{% endblock %}


{% block javascript %}
    <script type="application/javascript">
        $(function(){
            $('#data').DataTable({
                responsive: true,
                autoWidth: false,
                language: {
                url: "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            },
            });

            $('.btnTest').on('click', function () {
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {id: 1},
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {

                });

            });
        });
    </script>
{% endblock %}

