{% extends 'home.html' %}
{% load static %}

{% block body %}

    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include 'sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

              <!-- Main Content -->
            <div id="content">
                {% include 'header.html' %}

            <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% block content %}
                        <div class="card">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                              <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                  <div class="text-md font-weight-bold text-gray-600 mb-1">
                                      <h6><i class="icon fas fa-exclamation-triangle fa-2x text-gray-600"></i>
                                       No tiene permisos para acceder a éste modulo, por favor contacte al administrador del sistema
                                      </h6>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        </div>
                    {% endblock %}
                </div>
            <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
            <!-- Footer -->
            {% include 'footer.html' %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'lib/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'lib/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'lib/startbootstrap-sb-admin-2/js/sb-admin-2.min.js' %}"></script>

    <!-- Block Javascript -->
    {% block javascript %}

    {% endblock %}

{% endblock %}

